{% extends 'base.html.twig' %}

{% block header_title %}<h1 class="h1 mb-3 mb-md-5">Liste des tâches {{ status_tache }}</h1>{% endblock %}
{% block body %}
    <p><a href="{{ path('task_create') }}" class="btn btn-info">Créer une tâche</a></p>
    <div class="row mt-5">
        {% for task in tasks %}
        <div class="col-md-6 col-lg-4 mb-3 mb-md-5">
            <div class="card">
                <div class="caption py-2 px-4">
                    <h4 class="d-flex justify-content-between">
                        <a href="{{ path('task_edit', {'id' : task.id }) }}">{{ task.title }}</a>
                        {% if task.isDone %}<span class="text-success">&#10003;</span>{% else %}<span class="text-danger">&#215;</span>{% endif %}
                    </h4>
                    <p>{{ task.content }}</p>
                    <p><span class="font-weight-bold">Auteur : </span>{{ task.user.username }}</p>
                </div>
                <div class="card-footer d-flex justify-content-end">
                    <form action="{{ path('task_toggle', {'id' : task.id }) }}">
                        <button class="btn btn-success btn-sm">
                            {% if not task.isDone %}Marquer comme faite{% else %}Marquer non terminée{% endif %}
                        </button>
                    </form>
                    <a class="btn btn-danger btn-sm text-white ml-2" src="{{ path('task_delete', {'id' : task.id }) }}">Supprimer</a>
                    </a>
                </div>            
            </div>
        </div>
        {% else %}
            <div class="alert alert-warning" role="alert">
                Il n'y a pas encore de tâche enregistrée. <a href="{{ path('task_create') }}" class="btn btn-warning">Créer une tâche</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
