{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
    <section class="d-flex flex-wrap">
        <section class="user col-12 col-md-4 bg-light p-3 p-xl-5 mb-5 mb-md-0 shadow">
            <p class="mb-0 h5">Nom de l'utilisateur</p>
            <p>{{ app.user.username }}</p>

            <p class="mb-0 h5">Adresse email</p>
            <p>{{ app.user.email }}</p>

            <p class="mb-0 h5">Inscrit le</p>
            <p>{{ app.user.createdAt | date('d/m/Y') }}</p>

            <div class="d-grid gap-2 d-xl-block mt-4">
                <a class="btn btn-sm btn-outline-dark" href="{{ path('app_logout') }}">Déconnexion</a>
                <a class="btn btn-sm btn-primary" href="{{ path('user.edit', {id: app.user.id}) }}">Modifier profil</a>
                <button type="button" 
                        data-bs-toggle="modal" 
                        data-bs-target="#deleteModal"
                        data-bs-entity="profil"
                        class="btn btn-sm btn-outline-danger">Supprimer profil
                </button>
            </div>
        </section>

        <section class="col-12 col-md-8 p-3 p-xl-5">
            <header class="mb-4 mb-md-5">
                <h2 class="mb-3">Mes projets</h2>
                <a class="btn btn-sm btn-primary" href="{{ path('project.add') }}">Ajouter un projet</a>
            </header>
            {% if projects == null %} 
                <p>Vous n'avez pas encore de projets créer</p>
                {% else %}
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Projet</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for project in projects %}
                                <tr>
                                    <th>{{ loop.index }}</th>
                                    <td>{{ project.name }}</td>
                                    <td>{{ project.description |u.truncate(25, '...') }}</td>
                                    <td>
                                        <a class="text-white btn btn-sm btn-secondary" href="{{ path('project.show', {id: project.id}) }}">consulter</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
        {% endif %}
        </section>
    </section>

    {% include 'partials/_modal.html.twig' with {'entity': 'profil', 'id': app.user.id} %}

{% endblock %}
