{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
    <section class="d-flex flex-wrap min-height">
        
        {% include 'back/user/profil.html.twig' %}

        <section class="col-12 col-md-8 p-3 p-xl-5">
            <header class="mb-4 mb-md-5">
                <h2 class="mb-3">Mes projets</h2>
                <a class="btn btn-sm btn-primary fw-bold" href="{{ path('project.add') }}">Ajouter un projet</a>
            </header>
            {% if projects == null %} 
                <p>Vous n'avez pas encore de projets créer</p>
                {% else %}
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Projet</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for project in projects %}
                                <tr>
                                    <th>{{ loop.index }}</th>
                                    <td>{{ project.name }}</td>
                                    <td>{{ project.description |u.truncate(25, '...') }}</td>
                                    <td>
                                        <a  class="fw-bold text-white btn btn-sm btn-secondary" 
                                            href="{{ path('project.show', {id: project.id}) }}">consulter</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
        {% endif %}
        </section>
    </section>

{% endblock %}
