{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil | {{ app.user.username }}{% endblock %}

{% block body %}

<section class="d-flex flex-wrap min-height">    
    {% include 'back/user/profil.html.twig' %}
    
    <section class="col-12 col-md-8 p-3 p-xl-5">
        <header class="mb-4 mb-md-5">
            <h2 class="mb-3">Modifier mon profil</h2>
        </header>
        {{ form_start(form) }}
            <div class="mb-3">
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
            </div>

            <div class="mb-3">
                {{ form_label(form.newPassword) }}
                {{ form_widget(form.newPassword) }}
                {{ form_help(form.newPassword) }}
            </div>

            <button class="btn btn-sm btn-secondary text-white fw-bold text-uppercase" type="submit">modifier</button>
        {{ form_end(form) }}
    </section>
</section>

{% endblock %}
