<section class="row" data-masonry='{"percentPosition": true }'>
{% for task in tasks %}
    <div class="col-12 col-lg-6 mb-3 mb-md-4">
        <div class="card shadow">
            <div class="card-body">
                <h4 class="h6 {% if task.limitedAt is null %}mb-3{% else %}mb-0{% endif %}">{{ task.name }}</h4>
                {% if task.limitedAt %}
                    <p>Date limite de réalisation : {{ task.limitedAt | date('d/m/Y') }}</p>
                {% endif %}
                <p>{{ task.description }}</p>

                <p class="position-absolute task-icon">
                    {% if task.status == 'terminé' %} <i class="far fa-check-circle text-success"></i>
                        {% else %} <i class="fas fa-times text-danger"></i>
                    {% endif %}
                    {% if task.note is not null %}
                        <i class="far fa-comment-dots text-dark"></i>
                    {% endif %}
                </p>
            </div>

            <div class="text-end card-body">
                <a class="fw-bold btn btn-sm btn-outline-primary text-uppercase" href="{{ path('task.edit', {id: task.id}) }}">modifier</a>
                <a  class="fw-bold btn btn-sm btn-danger text-uppercase" 
                    href="{{ path('task.delete', {id: task.id}) }}">supprimer</a>
            </div>
        </div>
    </div>
{% endfor %}
</section>
