{% extends 'base.html.twig' %}

{% block header_title %}<h1 class="h1 mb-3 mb-md-5">Modifier <strong>{{ user.username }}</strong></h1>{% endblock %}
{% block header_img %}{% endblock %}

{% block body %}
    {{ form_start(form, {'action' : path('user_edit', {'id' : user.id})}) }}
        <div class="row">
            <div class="form-group col-12 col-md-6">
                {{ form_label(form.username, '', {'label_attr': { 'class': 'font-weight-bold mb-1'}}) }}
                {{ form_widget(form.username) }}
            </div>

            <div class="form-group col-12 col-md-6">
                {{ form_label(form.email, '', {'label_attr': { 'class': 'font-weight-bold mb-1'}}) }}
                {{ form_widget(form.email) }}
            </div>

            <div class="form-group col-12 col-md-6">
                {{ form_label(form.newPassword.first, '', {'label_attr': { 'class': 'font-weight-bold mb-1'}}) }}
                {{ form_widget(form.newPassword.first) }}
            </div>

            <div class="form-group col-12 col-md-6">
                {{ form_label(form.newPassword.second, '', {'label_attr': { 'class': 'font-weight-bold mb-1'}}) }}
                {{ form_widget(form.newPassword.second) }}
            </div>

            <div class="form-group col-12">
                {{ form_label(form.roles, 'Rôle', {'label_attr': { 'class': 'font-weight-bold mb-1'}}) }}
                {{ form_widget(form.roles) }}
            </div>

            <div class="text-right mt-4 mt-md-3 col-12">
                <button type="submit" class="btn btn-success">Modifier</button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}
